<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tv.ismar.listpage">

    <application
    >
        <activity
            android:name="tv.ismar.channel.FilterActivity"
            android:screenOrientation="landscape"
            android:theme="@style/IsmartvAppTheme.Fullscreen"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="tv.ismar.daisy.Filter"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="tv.ismar.channel.ChannelListActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape"
            android:theme="@style/IsmartvAppTheme.Fullscreen">
            <intent-filter>
                <action android:name="tv.ismar.daisy.Channel"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="tv.ismar.channel.RelatedActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape"
            android:theme="@style/IsmartvAppTheme.Fullscreen">
            <intent-filter>
                <action android:name="tv.ismar.daisy.relateditem"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="tv.ismar.channel.PackageListDetailActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape"
            android:theme="@style/IsmartvAppTheme.Fullscreen">
            <intent-filter>
                <action android:name="tv.ismar.daisy.packagelist"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
    </application>

</manifest>
