<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tv.ismar.detailpage">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
    >

        <activity
            android:name=".view.DetailPageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape"

        >
            <intent-filter>
                <action android:name="tv.ismar.daisy.detailpage"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
