<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tv.ismar.usercenter"
>

    <application
    >

        <activity android:name=".view.UserCenterActivity"
                  android:hardwareAccelerated="true"
        >
            <intent-filter>
                <action android:name="tv.ismar.daisy.usercenter"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.LocationProvider"
            android:authorities="cn.ismartv.daisy.provider.location"
            android:exported="true"/>
    </application>

</manifest>
