<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tv.ismar.usercenter"
>

    <application
    >

        <activity android:name=".view.UserCenterActivity">
            <intent-filter>
                <action android:name="tv.ismar.daisy.usercenter"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
