<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.ismar.account">


    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <service android:name=".ActiveService" />

    </application>

</manifest>
