<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.ismar.homepage">

    <application>

        <activity
            android:name=".view.HomePageActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/IsmartvAppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="tv.ismar.daisy.tvguide" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>