<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.ismartv.helperpage">


    <uses-permission android:name="android.permission.INTERNET"/>
    <application
    >
        <activity
            android:name=".LauncherActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="cn.ismar.sakura.launcher"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.activity.HomeActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        </activity>
    </application>



</manifest>
